<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fauzi - Portofolio</title>
    <!-- style clss -->
    <link rel="stylesheet" href="/css/index-css/style.css"/>

            <!-- ===== BOX ICONS ===== -->
        <link
        href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css'
        rel='stylesheet'>
        
  </head>
  <body>
        <div id="particles-js"></div>
    <!-- HEADER --> 
    <header class="burger-container">
      <nav class="burger">
        <div class="brand">
          <a><img src="/images/index-img/logo.jpeg" /></a>
        </div>
        <div class="navigasi" id="nav-menu">
        <ul class="nav_list">
          <li><a class="nav_link"href="https://instagram.com">instagram</a></li>
          <li><a class="nav_link"href="#">project</a></li>
          <li><a class="nav_link"href="#">contact</a></li>
          <li><a class="nav_link"href="#about">skill</a></li>
<!--            <li><a class="nav_link"id="toggle-theme"><i class="bx bx-moon"></i></a></li> -->
        </ul>
        </div>
        <div class="toggle-burger" id="burger">
        <i class='bx bx-menu'></i>
        </div>
      </nav>
    </header>

       <section class="home-container" id="home">
          <div class="home-left">
            <div class="little-name">
                <span>Hay 👋 Quisarr, I'm Aldi Fauzi</span>
            </div>
<div class="home-name">
    <h1>I'm <span class="typing"></span></h1>
</div>
            <div class="description">
                <p>Welcome to my portfolio website, this website was created
                using html, css, javascript languages. and this is the result
                my learning, in these 3 languages</p>
            </div>
<div class="home-button">
    <a class="btn" href="/about">About Me</a>
    <a class="btn" href="/dashboard">Rest Api</a>
</div>
            <div class="social_icons">
              <a class="icon" href="https://instagram.com/xziyy__" target="_blank" title="Instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>
          <div class="home-right">
            <div class="image">
                <img src="/images/index-img/img.jpeg" alt="avatar">
            </div>
          </div>
       </section>
  <!-- Bagian Portfolio -->
<section id="portfolio" class="portfolio section">
  <h2 class="section-title">Gallery</h2>
  <div class="portfolio__container bd-grid">
    <!-- Portfolio Item 1 -->
    <div class="portfolio__item">
      <div class="portfolio__img">
        <img src="/images/index-img/m3.jpg" alt="Project 1">
        <div class="portfolio__link">
          <a href="/about" class="portfolio__link-name">View details</a>
        </div>
      </div>
      <div class="portfolio__desc">
        <p></p>
      </div>
    </div>
    
    <!-- Portfolio Item 2 -->
    <div class="portfolio__item">
      <div class="portfolio__img">
        <img src="/images/index-img/m1.jpg" alt="Project 2">
        <div class="portfolio__link">
          <a href="/about" class="portfolio__link-name">View details</a>
        </div>
      </div>
      <div class="portfolio__desc">
        <p></p>
      </div>
    </div>
    
    <!-- Portfolio Item 3 -->
    <div class="portfolio__item">
      <div class="portfolio__img">
        <img src="/images/index-img/m2.jpg" alt="Project 3">
        <div class="portfolio__link">
          <a href="#" class="portfolio__link-name">View details</a>
        </div>
      </div>
      <div class="portfolio__desc">
        <p></p>
      </div>
    </div>
  </div>
</section>
    
 <!-- BUTTON THEME  -->
   <div class="button-theme">
      <i id="toggle-theme"class="bx bx-moon"></i></div>
    
<!-- Footer Container -->
<footer class="footer-container">
  <div class="footer-content">
    <p>&copy; 2024 Simple Portfolio. All rights reserved.</p>
    <p>design By xZiyy</p>
  </div>
</footer>

    <!-- SCRIPT -->
   <script src="/js/index-js/main.js"></script>
    <script src="/js/index-js/particles.js"></script>
    <script
    src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
            <script src="https://unpkg.com/scrollreveal"></script>
  </br>
</html>